{{config.Source}} ({{version}}) {{config.Suite}}; urgency=low

  * Build of {{hash}}.
    Upload to {{config.Suite}}.
    Built off of the {{branch}} branch.

 -- {{config.Maintainer}}  {{rfc_2822_date}}
